html {
  font-family: verdana;
  font-weight: normal;
  font-size: 16px;
}

body {
  background-color: black;
  text-align: center;
  color: white;
}

header h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h6 {
  color: aquamarine;
  font-size: 16px;
}

main h2 {
  font-weight: 300;
  font-size: 42px;
}

main h4 {
  color: grey;
  font-size: 21px;
  font-weight: lighter;
}

img {
  padding: 10px;
  margin: 20px;
}

footer {
  text-align: right;
  color: grey;
}
